**Latihan SKLearn Decision Tree**

In [24]:
import pandas as pd
from sklearn.datasets import load_iris

iris = pd.read_csv('Iris.csv')  #upload dataset csv terlebih dahulu

In [27]:
iris.info() #cek isi data

iris.head() #cek informasi dataset 5 baris pertama

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [28]:
iris.drop('Id', axis=1, inplace=True) #hapus data tidak diperlukan, yaitu data id

In [30]:
iris.info()

iris.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SepalLengthCm  150 non-null    float64
 1   SepalWidthCm   150 non-null    float64
 2   PetalLengthCm  150 non-null    float64
 3   PetalWidthCm   150 non-null    float64
 4   Species        150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [38]:
#memisahkan antara atribut(int) dengan label(str), x variabel atribut dan y variabel label
X = iris[['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm']]
y = iris['Species']

#membagi dataset menjadi data latih dan data uji (test and train)
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=123)

In [39]:
from sklearn.tree import DecisionTreeClassifier

#membuat model decision tree
tree_model = DecisionTreeClassifier()

#membuat model dengan data latih yang sudah dibagi sebelumnya
tree_model = tree_model.fit(X_train, y_train)

In [40]:
#cek akurasi dataset yang sudah dilatih
from sklearn.metrics import accuracy_score

y_predict = tree_model.predict(X_test)

acc_score = round(accuracy_score(y_predict, y_test), 3)

print('Accuracy: ', acc_score)

Accuracy:  0.933

In [51]:
print(tree_model.predict([[6.2, 3.4, 5.4, 2.3]])[0])

Iris-virginica

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  "X does not have valid feature names, but"

In [53]:
#export hasil training dengan graphic
from sklearn.tree import export_graphviz

export_graphviz(
    tree_model,
    out_file = "iris_tree.dot",
    feature_names = ['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm'],
    class_names = ['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'],
    rounded = True,
    filled = True
)